.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 30vw;
  height: 1.4rem;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.card {
  border: 1px solid black;
  margin: 1rem;
}
